header {
  /* border: 1px solid red; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0 1em;
}

.portalprofile img {
  width: 40px;
  height: 50px;
  object-fit: cover;
}

.right {
  /* margin-right: 1em; */
  /* display: flex; */
}

.sign_in {
  display: flex;
  align-items: center;
}

.right .sign_in p {
  color: var(--primary_text_color);
  font-size: 0.9em;
}

.sign_in_details img {
  object-fit: cover;
}
