* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans", Roboto, Arial;
  font-weight: 300;
  /* font-size: 14px; */
}

:root {
  --primary_text_color: #979797;
  --btn_color: #6385ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
