*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentCompanyContainer{
    width: 40%;
    border-radius: 56px;
    border: 1px solid #A1A1A1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.companyContent{
    padding: 2vmax 2vmax ;

}
.companyContent h1{
    font-weight:600 ;
    font-size: 2vmax;
    padding: .4vmax 0;
    margin-left: 1.2vmax;
}
.companyContent .adminmail{
    font-weight:400 ;
    font-size: 1.3vmax;
    margin-left: 1.2vmax;

    /* padding: .4vmax 0; */
}
.companyContent .managers{
    font-size: 2vmax;
    font-weight:600 ;
    margin-top: 3vmax;
    margin-left: 1.2vmax;

    margin-bottom: .8vmax;
}

.comapnyCard{
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #F1F1F1;
    background-color: #fff;
    border-radius: 23px;
    width: 485px;
    padding: 1vmax 2vmax;
    margin-top: 1vmax;
}
.comapnyCard h2{
    font-weight: 500;
    font-size: 1.3vmax;
    padding-bottom: .4vmax;
}
.comapnyCard a{
    text-decoration: none;
    font-weight: 400;
    color: #438EFF;
    font-size: 1.2vmax;
    /* padding-bottom: .5vmax !important; */
}
.comapnyCard h3{
    line-height: 30px;
    font-weight: 500;
    font-size: 1.1vmax;
}