.container {
  max-width: 1550px;
  margin: 0 auto;
}

.card_body h1,
.card_body p {
  word-wrap: break-word;
}

.light {
  font-weight: 300;
  margin-bottom: 0.3em;
  font-size: 20px;
  line-height: 40px;
  color: #7e7878;
  cursor: pointer;
}

.active {
  color: #ff6767;
  font-weight: 500;
}

.personal_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(189, 192, 255, 0.56) -0.41%,
    rgba(255, 191, 177, 0.4) 63.33%
  );
}

.financial_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(189, 255, 204, 0.56) -0.41%,
    rgba(255, 224, 177, 0.4) 63.33%
  );
}

.identity_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(199, 204, 255, 0.56) -0.41%,
    rgba(202, 255, 177, 0.4) 63.33%
  );
}

.work_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(222, 222, 222, 0.29) -0.41%,
    rgba(198, 188, 182, 0.21) 63.33%
  );
}

.signin_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(222, 222, 222, 0.29) -0.41%,
    rgba(198, 188, 182, 0.21) 63.33%
  );
}

.policy_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(222, 222, 222, 0.29) -0.41%,
    rgba(198, 188, 182, 0.21) 63.33%
  );
}

.documents_gradient {
  background: linear-gradient(
    264.82deg,
    rgba(203, 153, 159, 0.29) -0.41%,
    rgba(255, 185, 185, 0.21) 63.33%
  );
}

/* navigation */
.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation nav ul {
  display: flex;
  /* border: 1px solid blue; */
}

.navigation nav ul li {
  /* border: 1px solid red; */
  padding: 1em 3em;
  margin-right: 2em;
  border: 0.1px solid #ffffff;
  box-shadow: -1px 8px 12px -3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

/* profile details */
.profile_details {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  /* height: 100vh; */
  /* margin: 3em 5em; */
}

/* left */
.profile_left {
  border: 1px solid #e0e0e0;
  /* border: 1px solid red; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 33%;
  height: 50%;
  padding: 2em;
  border-radius: 32px;
  position: sticky;
  top: 0;
  margin-right: 2em;
}

.profile_left_details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.25));
  margin-bottom: 1em;
}

.profile_left_details h1 {
  font-weight: 300;
  font-size: 1.8em;
}

.profile_left_details p {
  color: #868686;
  margin-bottom: 1em;
  font-size: 18px;
  word-break: break-word;
}

.left_pages {
  padding-bottom: 2em;
}

/* right */
.profile_right {
  /* width: 55vw; */
  width: 750px;
  border-radius: 32px;
  /* border: 1px solid yellowgreen; */
}

.personal_info_card {
  display: flex;
  background: linear-gradient(
    264.82deg,
    rgba(189, 192, 255, 0.56) -0.41%,
    rgba(255, 191, 177, 0.4) 63.33%
  );
  border-radius: 30px;
  padding-top: 1.5em;
  /* width: 678px; */
  /* padding: 2em; */
}

.personal_info_card img {
  /* border: 1px solid gray; */
  margin-right: 1em;
}

.card_details h1 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.card_details p {
  font-size: 20px;
  line-height: 29px;
  color: #5f5f5f;
  width: 28vw;
  font-weight: 300;
}

/* profile card details */
.profile_details_cards {
  /* border: 1px solid red; */
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.2em;
}

.card_body {
  padding: 1.7em;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  /* width: 20vw; */
  /* width: 26vw;
  height: 10vw; */
  /* width: 313px; */
  /* width: 26vw; */
  height: 150px;
  cursor: pointer;
}

.card_body h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0.4em;
}

.card_body p {
  color: #868686;
  font-size: 20px;
}

/* identity details */
.details {
  margin: 2em 0;
}

.details .btn_detail {
  border: 1px solid #000000;
  border-radius: 32px;
  padding: 0.8em 2em;
  font-size: 18px;
  line-height: 22px;
  background-color: white;
}

.details_card {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.details_card_body {
  padding: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  width: 350px;
  /* width: 25vw; */
  margin-bottom: 2em;
}

.details_card_body h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.details_card_body p {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
}

.address {
  height: 180px;
}

.FinancialDetails_btn button {
  border: 1px solid #bcbcbc;
  border-radius: 32px;
  padding: 0.8em 2em;
  margin: 2em 1em 0em 0;
  font-size: 18px;
  line-height: 22px;
  background-color: white;
  color: #5b5b5b;
}

.FinancialDetails_btn button:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 230, 216, 0.71) 0%,
    rgba(214, 214, 255, 0.57) 100%
  );
  cursor: pointer;
  /* border: none; */
}

.bankDetails_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2em;
  margin-top: 2em;
}

.bank_details {
  padding: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  width: 350px;
  margin-bottom: 2em;
  cursor: pointer;
}

.bank_details h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.bank_details p {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
  word-wrap: break-word;
}

.details_wrapper {
  /* height: 13vw; */
  height: 200px;
}

.bank_details button,
.details_card_body button {
  background-color: #6385ff;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5em 2em;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

.bank_details button:hover,
.details_card_body button:hover {
  background-color: #3c66fd;
}

/* work details */
.work_details_cards {
  margin: 2em 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5em;
}

.work_details_cards_body {
  /* border: 1px solid pink; */
  padding: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  /* height: 15vw; */
  /* width: 26vw; */
  height: 250px;
  margin-bottom: 2em;
}

.work_details_cards_body h1 {
  margin-bottom: 1em;
  font-size: 24px;
}

.work_details_cards_body p,
.work_details_cards_body span {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
  line-height: 30px;
}

/* sign in and security */
.signinsecutity_cards {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.signinsecutity_card_body {
  padding: 2.5em;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  /* height: 15vw; */
  /* width: 26vw; */
  /* height: 12vw; */
  margin-bottom: 2em;
}

.signinsecutity_card_body h1 {
  margin-bottom: 1em;
  font-size: 24px;
}

.signinsecutity_card_body p {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
}

/* documentation */
.esic_card {
  margin-top: 1.5em;
  background: linear-gradient(
    284.36deg,
    rgba(216, 229, 255, 0.56) -5.59%,
    rgba(222, 255, 221, 0.4) 103.9%
  );
  border-radius: 30px;
  height: 154px;
  padding: 2em;
}

.esic_card h1 {
  font-size: 36px;
  line-height: 44px;
}

.esic_card p {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
  line-height: 30px;
}

.documentation_cards {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.documentation_card_body {
  padding: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  /* height: 15vw; */
  /* width: 25vw; */
  margin-bottom: 2em;
}

.documentation_card_body h1 {
  margin-bottom: 1em;
  font-size: 24px;
}

.documentation_card_body p,
.documentation_card_body a {
  color: #868686;
  margin: 0.3em 0;
  font-size: 20px;
  line-height: 30px;
}

.underline {
  font-style: italic;
  text-decoration: underline;
}

/* form */
.dialogform {
  /* background: rgba(238, 235, 235, 0.39); */
  /* background: rgba(188, 188, 188, 0.39); */
  /* background: #f4f4f4; */
  /* box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 0.25); */
  width: 500px;
  padding: 2em;
}

.form_btns {
  /* border: 1px solid red; */
  text-align: center;
  background: #f4f4f4;
  /* background-color: rgba(188, 188, 188, 0.39); */
  /* border-radius: 32px; */
  display: flex;
  justify-content: space-around;
  margin-top: -1em;
  padding: 1em 0 1.3em 0;
  /* padding-bottom: 1.5em; */
  /* width: 757px; */
}

.form_btns button {
  width: 150px;
  height: 45px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.form_btns .cancel {
  background: #dfdfdf;
}

.form_btns .save {
  background-color: var(--btn_color);
  color: white;
}

.form_btns .cancel:hover {
  background-color: #d8d6d6;
}

.form_btns .save:hover {
  background-color: #4a71fd;
}

.field {
  margin: 8px 0;
}

.dob input {
  width: 120px;
  height: 50px;
  margin-right: 0.7em;
  padding-left: 0.5em;
  /* text-align: center; */
  border-radius: 10px;
}

.gender input {
  width: 20px;
  height: 20px;
  margin-right: 0.7em;
  /* text-align: center; */
  border-radius: 10px;
}

.gender label {
  margin-right: 1em;
  font-size: 1.2em;
}

.field figure {
  text-align: center;
  margin-top: 1em;
}

.profilepicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.city,
.state {
  width: 45%;
}

.zipcode,
.country {
  width: 45%;
}

.two_column {
  display: flex;
  justify-content: space-between;
}
